@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    color: #FFFAFF;
    background-color: #111;
}

h1 {
    text-align: center;
    color: #2dbadd;
    font-weight: bold;
    font-size: 7.7vw;
    margin-top: 30vh;
    font-family: "Bebas Neue";
}

#particles-js {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    height: 100%;
    background-color: #111111;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
